html,
body {

  padding: 0;
  margin: 0; 
  height: 100%;
  overflow:hidden;
  -webkit-overflow-scrolling:touch
}

body {
  
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#APP,
#page,
#content,
.ast-container,
#primary,
#main,
article,
.entry-content {

  @include absolutebox();
  padding: 0;
  margin: 0;
  overflow: hidden;
}