#Dialog {

  .blurborder {

    position: relative;

    &:before {

      content: '';
      @include absolutebox();
      background-color: #ffffff;
      z-index: -1;
      filter: blur(12px);
      opacity: 0.5;
    }
  }
}