
@use '~scsscommon/presets';
@use '~scsscommon/mixin';
@use '~scsscommon/common';

#Dialog {

  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  width: 90%;
  max-width: 500px;
  border: solid var(--ast-global-color-0);
  border-width: presets.$space * 0.5 0 0 0;
  border-radius: 0 presets.$space * 2 0 0 !important;

  > h1 {

    position: absolute;
    top: -0.95em;
    z-index: 1;
    color: var(--ast-global-color-0);
  }

  .Slide {

    z-index: 0;
    width: 100%;
    border-radius: 0 presets.$space * 2 presets.$space 0 !important;

    .wp-block-cover__inner-container {

      height: 100%;
      padding-bottom: presets.$space  * 6 !important;
    }

    h2, h3 {

      text-shadow: 0 0 1px #000;
      position: relative;

      a {

        text-shadow: 0 0 1px #000;
      }    
    }

    h2 {

      margin-block-end: 0.05em;
      z-index: 2;  
    }

    h3 {

      margin-bottom: 0;
      z-index: 3;
    }

    p {

      position: relative;
      z-index: 1;
    }

    .wp-block-buttons {   

      position: relative;
      min-height: presets.$space * 6;
      width: 100%; 
      z-index: 4;
      cursor: pointer;
    }
  }  

  .wp-block-button.common {

    @include mixin.flexcenter();
    overflow: hidden;
    border-radius: 50%;

    .wp-block-button__link {
      
      text-indent: 2000px;
      width: presets.$space * 6;
      height: presets.$space * 6;
      padding: 0;
    }

    &.home {

      .wp-block-button__link {

        @include mixin.bgimage("~assets/images/home-alt.svg");
        background-size: 60%;
      }
    }

    &.root {

      .wp-block-button__link {

        @include mixin.bgimage("~assets/images/arrow-circle.svg");
        background-size: 60%;
      }
    }
  }
}