@font-face {
  font-family: 'Barlow Condensed ExtraBoldItalic';
  src: url('~fonts/barlow-condensed/BarlowCondensed-ExtraBoldItalic.woff2') format('woff2'),
       url('~fonts/barlow-condensed/BarlowCondensed-ExtraBoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Barlow Condensed BlackItalic';
  src: url('~fonts/barlow-condensed/BarlowCondensed-BlackItalic.woff2') format('woff2'),
       url('~fonts/barlow-condensed/BarlowCondensed-BlackItalic.woff') format('woff');
}

@font-face {
  font-family: 'Barlow Condensed Bold';
  src: url('~fonts/barlow-condensed/BarlowCondensed-Bold.woff2') format('woff2'),
       url('~fonts/barlow-condensed/BarlowCondensed-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Barlow Condensed ExtraBold';
  src: url('~fonts/barlow-condensed/BarlowCondensed-ExtraBold.woff2') format('woff2'),
       url('~fonts/barlow-condensed/BarlowCondensed-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Barlow Condensed BoldItalic';
  src: url('~fonts/barlow-condensed/BarlowCondensed-BoldItalic.woff2') format('woff2'),
       url('~fonts/barlow-condensed/BarlowCondensed-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Barlow Condensed ThinItalic';
  src: url('~fonts/barlow-condensed/BarlowCondensed-ThinItalic.woff2') format('woff2'),
       url('~fonts/barlow-condensed/BarlowCondensed-ThinItalic.woff') format('woff');
}

@font-face {
  font-family: 'Barlow Condensed Black';
  src: url('~fonts/barlow-condensed/BarlowCondensed-Black.woff2') format('woff2'),
       url('~fonts/barlow-condensed/BarlowCondensed-Black.woff') format('woff');
}

@font-face {
  font-family: 'Barlow Condensed SemiBold';
  src: url('~fonts/barlow-condensed/BarlowCondensed-SemiBold.woff2') format('woff2'),
       url('~fonts/barlow-condensed/BarlowCondensed-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Barlow Condensed ExtraLightItalic';
  src: url('~fonts/barlow-condensed/BarlowCondensed-ExtraLightItalic.woff2') format('woff2'),
       url('~fonts/barlow-condensed/BarlowCondensed-ExtraLightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Barlow Condensed LightItalic';
  src: url('~fonts/barlow-condensed/BarlowCondensed-LightItalic.woff2') format('woff2'),
       url('~fonts/barlow-condensed/BarlowCondensed-LightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Barlow Condensed Light';
  src: url('~fonts/barlow-condensed/BarlowCondensed-Light.woff2') format('woff2'),
       url('~fonts/barlow-condensed/BarlowCondensed-Light.woff') format('woff');
}

@font-face {
  font-family: 'Barlow Condensed Thin';
  src: url('~fonts/barlow-condensed/BarlowCondensed-Thin.woff2') format('woff2'),
       url('~fonts/barlow-condensed/BarlowCondensed-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Barlow Condensed SemiBoldItalic';
  src: url('~fonts/barlow-condensed/BarlowCondensed-SemiBoldItalic.woff2') format('woff2'),
       url('~fonts/barlow-condensed/BarlowCondensed-SemiBoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Barlow Condensed ExtraLight';
  src: url('~fonts/barlow-condensed/BarlowCondensed-ExtraLight.woff2') format('woff2'),
       url('~fonts/barlow-condensed/BarlowCondensed-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'Barlow Condensed Regular';
  src: url('~fonts/barlow-condensed/BarlowCondensed-Regular.woff2') format('woff2'),
       url('~fonts/barlow-condensed/BarlowCondensed-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Barlow Condensed Medium';
  src: url('~fonts/barlow-condensed/BarlowCondensed-Medium.woff2') format('woff2'),
       url('~fonts/barlow-condensed/BarlowCondensed-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Barlow Condensed MediumItalic';
  src: url('~fonts/barlow-condensed/BarlowCondensed-MediumItalic.woff2') format('woff2'),
       url('~fonts/barlow-condensed/BarlowCondensed-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'Barlow Condensed Italic';
  src: url('~fonts/barlow-condensed/BarlowCondensed-Italic.woff2') format('woff2'),
       url('~fonts/barlow-condensed/BarlowCondensed-Italic.woff') format('woff');
}

