#Dialog {

  position: absolute;
  left: $pad-left;
  bottom: 50%;
  transform: translateY(50%);
  width: 80%;
  max-width: 500px;
  overflow: hidden;

  .Slide {

    position: absolute;
    bottom: 100%;
    box-sizing: border-box;
    transition-property: bottom;
    transition-duration: 0.5s;

    &.Current {

      bottom: 0;
    }
  }
}