#Dialog {

  position: absolute;
  left: 0;
  bottom: 50%;
  transform: translateY(50%);
  width: 90%;
  max-width: 500px;
  overflow: hidden;

  .fitcontent {

    width: fit-content;
  }

  .Slide {

    position: absolute;
    bottom: 100%;
    box-sizing: border-box;
    transition-property: bottom;
    transition-duration: 0.5s;

    &.Current {

      bottom: 0;
    }

    h2 {

      line-height: 0.55em;
      margin-block-end: 0.05em;
      text-shadow: 0 0 1px #000;
      position: relative;
      z-index: 1;

      a {

        text-shadow: 0 0 1px #000;
      }
    }
  }

  .wp-block-button.common {

    @include flexcenter();
    overflow: hidden;
    border-radius: 50%;

    .wp-block-button__link {
      
      text-indent: 2000px;
      width: $space * 6;
      height: $space * 6;
      padding: 0;
    }

    &.home {

      .wp-block-button__link {

        @include bgimage("~assets/images/home-alt.svg");
        background-size: 60%;
      }
    }

    &.root {

      .wp-block-button__link {

        @include bgimage("~assets/images/arrow-circle-up.svg");
        background-size: 60%;
      }
    }
  }
}