@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes spingo{

  from {

    --angle: 0deg;
  }

  to {

    --angle: 360deg;
  }
}

@keyframes spinreverse{

  from {

    --angle: 360deg;
  }

  to {

    --angle: 0deg;
  }
}


#Dialog {

  .wp-block-button {

    position: relative;

    &:after, 
    &:before {

      content: '';
      position: absolute;
      height: 100%;
      width: calc(100% + 2px);
      background-image: conic-gradient(
        from var(--angle),
       transparent 0grad,
       transparent 70grad,
        var(--ast-global-color-0) 80grad,
        var(--ast-global-color-0) 100grad,
        transparent 110grad,
        transparent 250grad,
        var(--ast-global-color-0) 260grad,
        var(--ast-global-color-0) 280grad,
        transparent 290grad,
        transparent 360grad,
      );
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      z-index: -1;
      animation: 10s spingo linear infinite;

      filter: blur(3px);
      opacity: 1;
    }

    &:hover {

      &:after, 
      &:before {

        background-image: conic-gradient(
          from var(--angle),
         transparent 0grad,
         transparent 70grad,
          var(--ast-global-color-6) 80grad,
          var(--ast-global-color-6) 100grad,
          transparent 110grad,
          transparent 250grad,
          var(--ast-global-color-6) 260grad,
          var(--ast-global-color-6) 280grad,
          transparent 290grad,
          transparent 360grad,
        );

        animation: 1s spinreverse linear infinite;
      }      
    }
  }
}