@keyframes home-text-fade-in {

  from {

    opacity: 0;
  }

  to {

    opacity: 1;
  }
}

#Page.Home {

  .Clouds {

    @include absolutebox();
    background-color: #326696;
    background: linear-gradient(
      356deg, 
      #000763 0%, 
      #326696 100%
    );

    iframe {

      width: 100%;
      height: 100%;
      border: none;
      position: relative;
      z-index: 0;
    }
  }

  .Text {

    font-family: "Barlow Condensed ExtraBold";
    font-size: clamp(120px, 30.1vw, 200px);
    line-height: 0.7em;
    white-space: nowrap;
    position: absolute;
    bottom: 5px;
    left: -4px;
    color: $color-text-a;
    z-index: 1;
    mix-blend-mode: luminosity;
    letter-spacing: -0.07em;  
    opacity: 0;
    
    animation-name: home-text-fade-in;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    &.visible { 
      
      opacity: 1;        
    }
  }
}