
$space: 8px;

$color-dark: #000000;
$color-dark-transparent-a: transparentize($color-dark, 0.5);
$color-light: #ffffff;

$color-corp-a: #cccccc;
$color-corp-b: #8f8f8f;
$color-corp-c: #414141;

$color-text-a: #4dbfd9;
$color-text-b: #f7f7f7;

$color-accent-a: #b63913;